@use './variables.scss' as *;

.awardMainSection{
    max-width: $maxWidth;
    margin: 1rem auto;
    padding: 1rem;

    h1{
        font-family: "Allura", cursive;
        text-align: center;
        font-size: 2rem;
        color: $primary;
        letter-spacing: 2px;
    }
    .underline{
        width: 15%;
        height: 4px;
        margin: 0 auto 1rem auto;
        background-color: $primary;
        border-radius: 14px;
    }

    .awardImgContainer{
        padding: 1rem;
        .awardImg{
            object-fit: contain;
            width: 100%;
            height: 50px;
        }
        .awardBigImg{
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 767px) {
    .awardMainSection{
        h1{
            font-size: 2.5rem;
        }
        .awardImgContainer{
            .awardImg{
                height: 100px;
            }
           
        }
    }
}