@use './variables.scss' as *;

.homeImageSliderSection{
    width: 100%;
    height: 70vh;
    overflow-y: hidden;
    .sliderImage{
        height: 70vh;
        object-fit: cover;
        width: 100%;
    }
    .sliderSubtitle{
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 2px;
        font-family: "Allura", cursive;
        color: $primary;
        text-shadow: 1px 1px 10px #000;

    }
    .sliderTitle{
        position: absolute;
        font-size: 2rem;
        color: #fff;
        font-family: "Rock Salt", cursive;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 50%);
        margin: 0 auto;
        letter-spacing: 3px;
        text-shadow: 1px 1px 10px #000;
    }
    .cloudImg{
        width: 100%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}


@media screen and (min-width: 767px) {
    .homeImageSliderSection{
        // height: 100vh;
        .sliderImage{
            height: 75vh;
            object-fit: cover;
        }
        .sliderTitle{
            top: 5%;
            font-size: 2.5rem;
            text-shadow: 0px 0px 1px 10px #000;
        }
        .sliderSubtitle{
            font-size: 2rem;
            letter-spacing: 3px;
    
        }
    }
}


@media screen and (min-width: 1023px) {
    .homeImageSliderSection{
       
        
        .sliderTitle{
            text-align: center;
            font-size: 4rem;
          
        }
        .sliderSubtitle{
            font-size: 3rem;
    
        }
    }
}