@use './variables.scss' as *;

.packages-detials-main-section{

    .packageDetailsImageContainer{
        .packageDetailsImage{
            height: 60vh;
            object-fit: cover;
        }
    }
    .title{
        text-align: center;
        margin-top: 1rem;
        font-size: 2rem;
        color: $primary;
    }
    hr{
        height: 4px;
        background-color: $primary;
        outline: none;
        border: none;
        margin: 10px auto;
        width: 50%;
    }
    .package-details-main-container{
        padding: 1rem;
        
        .package-details-section{
            h1{
                text-align: center;
                color: $primary;
                font-size: 2rem;
                margin-top: 1rem;
            }
            
            .package-details-wrapper{
                display: flex;
                flex-direction: column;
                .package-detail-container{
                    margin-top: 2rem;
                    h2{
                        color: $primary;
                        font-weight: 500;
                        font-size: 1.5rem;
                    }
                    ul{
                        padding: 1rem;
                        li{
                            font-size: 0.9rem;
                            font-weight: 500;
                            letter-spacing: 1px;
                            word-spacing: 1px;
                            margin-top: 0.5rem;
                            margin-bottom: 0.5rem;
                            
                        }
                    }
                    
                    img{
                        width: 100%;
                    }
                    
                }
            }
            .rowReverse{
                flex-direction: column;
            }
        }
        .package-detail-hotel-container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            overflow-x: scroll;
            gap: 1rem;
            
            padding: 1rem;
            .package-hotel-card{
                padding: 1rem;
                width: 300px;
                background-color: $primaryModalColor;
                border-radius: 14px;
            }
        }
    }
}


@media screen and (min-width: 767px) {
    .packages-detials-main-section{

        
        .package-details-main-container{
            max-width: 1250px;
            width: 100%;
            margin: 1rem auto;
            .package-details-section{
                
                
                .package-details-wrapper{
                    flex-direction: row;
                    gap: 1rem;
                    align-items: center;
                    .package-detail-container{
                        
                        flex: 1;
                    }
                    
                    img{
                        width: 200px;
                    }
                    
                }
                .rowReverse{
                    flex-direction: row-reverse;
                }
            }
        }
    }
}

@media screen and (min-width: 1023px) {
    .packages-detials-main-section{

        
        .package-details-main-container{
           
            .package-detail-hotel-container{
                overflow-x: unset;
                .package-hotel-card{    
                    width: 400px;
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            }
        }
    }
}