@use './variables.scss' as *;

.package-details-main-container{
    padding: 1rem;
    .package-details-section{
        h1{
            text-align: center;
            color: $primary;
            font-size: 2rem;
            margin-top: 1rem;
        }

        .package-details-wrapper{
            display: flex;
            flex-direction: column;
            .package-detail-container{
                margin-top: 2rem;
                h2{
                    color: $primary;
                    font-weight: 500;
                    font-size: 1.5rem;
                }
                ul{
                    padding: 1rem;
                    li{
                        font-size: 1.1rem;
                        font-weight: 500;
                        letter-spacing: 1px;
                        word-spacing: 1px;
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;

                    }
                }

                img{
                    width: 100%;
                }

            }
        }
        .rowReverse{
            flex-direction: column-reverse;
        }
    }
}