@use './variables.scss' as *;


.productContainerMainSection{
    max-width: $maxWidth;
    margin: 3rem auto 2rem auto;
    .productContainerTitleContainer{
        padding: 1rem;
        text-align: center;
        margin: 2rem 0 0 0;
        p{
            color: $primary;
            font-size: 2rem;
            font-family: "Allura", cursive;
        }

        h1{
            font-size: 2rem;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }

    .productContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
}


@media screen and (min-width: 767px) {
    .productContainerMainSection{
    
        .productContainer{
            display: grid;
            grid-template-columns: repeat(2,1fr);

        }
    }
}


@media screen and (min-width: 1023px) {
    .productContainerMainSection{
    
        .productContainer{
            display: grid;
            grid-template-columns: repeat(3,1fr);

        }
    }
}