@use './variables.scss' as *;


.seasonalTourMainSection{
    padding: 1rem;
    max-width: $maxWidth;
    margin: 1rem auto;


    .seasonalTourButtonSelectorContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        margin: 1rem auto;
        box-shadow: 1px 1px 10px 1px #bbb;
        border-radius: 24px;
        
        .seasonalTourButton{
            border-radius: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding: 1rem;
            gap: 5px;
            font-size: 1.2rem;
            background-color: transparent;
            border: none;
        }
        .active{
            background-image: linear-gradient(315deg, #ff3427, #fc7c31 83%);
            color: #fff;
        }

    }
        .seasonalTourCardContainer{
            display: flex;
            flex-direction: column;
            .seasonalTourCardImgContainer{
                border-radius: 24px;
                overflow: hidden;
                img{
                    border-radius: 24px;
                    height: 350px;
                    object-fit: cover;
                }
            }

            .seasonalTourCardTextContent{
                margin-top: 1rem;
                h1{
                    margin: 12px 0;
                    font-size: 1.5rem;
                }
            }

        }
}


@media screen and (min-width: 767px) {
    .seasonalTourMainSection{

    
    
        .seasonalTourButtonSelectorContainer{
            flex-direction: row;
            width: fit-content;
            .seasonalTourButton{
                width: 150px;
            }
    
        }
            .seasonalTourCardContainer{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                margin-top: 2rem;
                justify-items: center;
                align-items: center;
    
            }
    }
}

@media screen and (min-width: 1223px) {
    .seasonalTourMainSection{
            .seasonalTourCardContainer{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                margin-top: 2rem;
                justify-items: center;
                align-items: center;
                .seasonalTourCardImgContainer{
                    img{
                        width: 600px;
                        height: 350px;
                    }
                }
    
            }
    }
}