@use './variables.scss' as *;

.tourCategoryMainContainer{
    max-width: 800px;
    margin: 2rem auto;
    width: 100%;
    .tourCategoryTitleContainer{
        padding: 1rem;
        text-align: center;
        margin: 2rem 0;
        p{
            color: $primary;
            font-size: 2rem;
            font-family: "Allura", cursive;
        }

        h1{
            font-size: 2rem;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }

    .tourCategoryCarouselContainer{
        width: 300px;
        margin: 0 auto;
        .tourCategoryCarouselCardContainer{

            .tourCategoryCarouselCard{
                img{
                    border-radius: 50%;
                    height: 250px;
                    width: 250px;
                    margin: 0 auto;
                    object-fit: cover;
                }
                .title{
                    font-size: 1rem;
                    margin-top: 1.5rem;
                    margin-bottom: 1rem;
                    text-align: center;
                    color: $primary;
                }
                .para{
                    width: 70%;
                    text-align: center;
                    margin: 1rem auto;
                    font-size: 0.9rem;
                }
            }
        }
    }
}


@media screen and (min-width:424px) {
    .tourCategoryMainContainer{
    
        .tourCategoryCarouselContainer{
            width: 370px;
        }
    }
}


@media screen and (min-width:767px) {
    .tourCategoryMainContainer{
    
        .tourCategoryCarouselContainer{
            width: 600px;
        }
    }
}


@media screen and (min-width:1023px) {
    .tourCategoryMainContainer{
    
        .tourCategoryCarouselContainer{
            width: 800px;
        }
    }
}